<%- include('template/header') %>

<main class="container">
  <div class="box">
    <h1 class="title">¿Seguro que desas eliminar esta película?</h1>
    <div class="sino">
      <form action="/admin/eliminar/<%=id%>" method="post" class="">
        <input type="submit" value="SI" class="btn botones" />
      </form>

      <a href="/admin" class="btn botones">NO</a>
    </div>
  </div>
</main>

<%- include('template/footer') %>
