<%- include('template/header') %>

<main class="container">
  <div>
    <h1>¿Seguro que desas eliminar esta película?</h1>
    <a href="/admin/elminardef/<%=id%>">SI, eliminar</a>
    <a href="/admin">NO</a>
  </div>
</main>

<%- include('template/footer') %>
