<%- include('template/header') %>

<main class="container">
  <div class="flex-container box">
    <h1>¿Seguro que desas eliminar esta película?</h1>
    <form action="/admin/eliminar/<%=id%>" method="post">
        <input type="submit" value="SI" class="btn botones">
  </form>


    <a href="/admin" class="btn botones">NO</a>
  </div>
</main>

<%- include('template/footer') %>
