<%- include('template/header') %>

<main class="container">
  <div class="flex-container box">
    <h1>¿Seguro que desas eliminar esta película?</h1>
    <a href="/admin/elminardef/<%=id%>" class="btn botones">SI, eliminar</a>
    <a href="/admin" class="btn botones">NO</a>
  </div>
</main>

<%- include('template/footer') %>
