<%- include('template/header') %>

<main class="container">
  <h1 class="title">Crear una pelicula</h1>
  <form action="/admin/crear" method="post" class="formulario" >
    <label for="titulo">Título</label>
    <input type="text" id="titulo" name="titulo"  />
  
    <label for="anio">Año</label>
    <input type="text" name="anio" id="anio" />
  
    <label for="director">Director</label>
    <input type="text" name="director" id="director" />
  
    <label for="genero">Género</label>
    <input type="text" name="genero" id="genero" />
  
    <label for="duracion">Duración</label>
    <input type="text" name="duracion" id="duracion" />
  
    <label for="imagen">Imagen</label>
    <input type="text" name="imagen" id="imagen" />

    <% if (respuesta) { %>
      <% if (respuesta.error) { %>
        <ul>
         <% respuesta.msg.forEach(element => { %>
          <li><%= element %></li>
         <% }) %>
        </ul>
       <% } %>
    <% } %>
   
   <input type="submit" value="Crear" id="crear" class="btn botones">
  </form>
</main>
<%- include('template/footer') %>
