<%- include('template/header') %>

<form action="" method="post">
    <label for="">Título</label>
    <input type="text" id="titulo" name="titulo" />

    <label for="">Director</label>
    <input type="text" name="director" id="director" />

    <label for="">Género</label>
    <input type="text" name="genero" id="genero" />

    <label for="">Duración</label>
    <input type="text" name="duracion" id="duracion" />

    <label for="">Imagen</label>

    <input type="submit" name="botonModificar" id="botonModificar" value="Modificar">
  </form>

<%- include('template/footer') %>