<%- include('template/header') %>

<main class="container">
    <section class="">
        <h2 class="title">Login</h2>
        <form action="/" method="POST" name="login" id="login" class="formulario">
            <input type="text" id="email" name="email" placeholder="Email" class="">
            <input type="text" id="password" name="password" placeholder="Password" class="">
            <% if (errorMessage) { %>
                            
                <ul>
                   <li><%= errorMessage %></li>
                  
                </ul>
               
           <% } %>
            <input type="submit" value="Login" class="">
        </form>
    </section>
    <p>多Aun no estas registrado?</p>
    <p>Registrate aca abajo</p>
    <div>
        <form action="/registro" method="">
            <input type="submit" value="Registrate" class="">
        </form>
    </div>
    <p>多Olvidaste tu contrase単a?</p>
      <div>
        <form action="/recuperarPass" method="get">
            <input type="submit" value="recuperarContrase単a" class="form-control btn btn-dark">
        </form>
    </div>
</main>
<%- include('template/footer') %>
    