<%- include('template/header') %>

<section class="mb-5 row">
    <section class="col-md-6">
        <h2 class="mb-4 text-center">Login</h2>
        <form action="/" method="POST" name="login" id="login">
            <input type="text" id="email" name="email" placeholder="Email" class="form-control mb-2">
            <input type="text" id="password" name="password" placeholder="Password" class="form-control mb-2">
            <% if (errorMessage) { %>
                            
                <ul>
                   <li><%= errorMessage %></li>
                  
                </ul>
               
           <% } %>
            <input type="submit" value="Login" class="form-control btn btn-dark">
        </form>
    </section>
    <p>多Aun no estas registrado?</p>
    <p>Registrate aca abajo</p>
    <div>
        <form action="/registro" method="">
            <input type="submit" value="Registrate" class="form-control btn btn-dark">
        </form>
    </div>
    <p>多Olvidaste tu contrase単a?</p>
      <div>
        <form action="/recuperarPass" method="get">
            <input type="submit" value="recuperarContrase単a" class="form-control btn btn-dark">
        </form>
    </div>

<%- include('template/footer') %>
    