<%- include('template/header') %>
<main class="container">
   
  <h2 class="title">Recuperar Contraseña</h2>
  <form action="/recuperarPass" method="post" name="recuPass" id="recuPass" class="formulario">
    <p>Por favor introduzca el email con el cual creo su cuenta:</p>
    <input
      type="text"
      id="email"
      name="email"
      placeholder="Email"
      class="form-control mb-2"
    />

    <input type="submit" value="Recuperar" class="btn botones" />

    <% if (error) { %>

    <ul>
      <li><%= error %></li>
    </ul>

    <% } %>
  </form>

</main>

<%- include('template/footer') %>
