<%- include('template/header') %>

    <h1>IndexUSER</h1>

    <form action="/user/search" method="get">
        <input type="submit" id="buscarPelis" value="Buscar Pelis">
    </form>
    
        <form action="/user/movies" method="get">
        <input type="submit"  id="misPelis" value="Mis Pelis">
    </form>

    
<%- include('template/footer') %>