<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=+, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <form action="/user" method="get">
            <input type="submit" id="home" value="Home">
        </form>
        <p>menu</p>
    </header>
    