<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=+, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body class="main1">

    <header class="header">

      <nav id="menu-desplegable" class="navVisible">
        <div>
          <ul>
            <li>
              <a href="/user">Home</a>
            </li>
            <li>
              <a href="/user/search" >Buscar Pelicula</a>
            </li>
            <li>
              <a href="/user/movies" >Mis Favoritos</a>
            </li>
            <li>
             <form action="/logout" method="post">
        <input type="submit" value="Logout" class="form-control btn btn-dark">
    </form>
            </li>
          </ul>
        </div>
      </nav>

      <button class="burgerMenu" id="burgerMenu">
        <div class="div-hamburguesa">
          <img src="/assets/ham.png" alt="Menú" id="imgBurger" />
        </div>
      </button>
    </header>
  
