<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=+, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <form action="/user" method="get">
            <input type="submit" id="home" value="Home">
        </form>
        <p>menu</p>
        <div class="botones flex-container">
            <a href="/user/search" class="btn">Buscar Pelicula</a>
        </div>
        <div class="botones flex-container">
            <a href="/user/movies" class="btn">Mis Favoritos</a>
        </div>

        <form action="/logout" method="post">
            <input type="submit" name="logout" id="logout" value="Logout" class="form-control btn btn-dark">
        </form>
    </header>
    