<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=+, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body class="main1">
    <nav class="header">

      <button class="burgerMenu">
        <div id="menu-hamburguesa">
          <img src="http://localhost:3000/public/assets/ham.png" alt="Menú" id="menuBurger"/>
        </div>
      </button>

      <div id="menu-desplegable" >
        <button class="cerrar">Cerrar</button>
        <form action="/user" method="get">
          <input type="submit" id="home" value="Home" class="btn botones" />
        </form>
        <ul>
          <li>
            <a href="/user/search" class="btn botones">Buscar Pelicula</a>
          </li>
          <li>
            <a href="/user/movies" class="btn botones">Mis Favoritos</a>
          </li>

        </ul>

        <form action="/logout" method="post">
          <input
            type="submit"
            name="logout"
            id="logout"
            value="Logout"
            class="btn botones"
          />
        </form>
      </div>
    </nav>
<script src="/public/main.js"></script>
